{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{-  := "/en/" -}}
  {{- if not (in .RelPermalink "/en/") -}}
    {{-  = "/" -}}
  {{- end -}}
  
  {{-  := slice -}}
  {{- range .Pages -}}
    {{- if or (and (eq  "/en/") (in .RelPermalink "/en/")) (and (ne  "/en/") (not (in .RelPermalink "/en/"))) -}}
      {{-  =  | append . -}}
    {{- end -}}
  {{- end -}}

  {{  := .Paginate  }}
  {{ range ,  := .Pages }}
    {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" ) }}
  {{end}}

  {{ partial "pagination" . }}
</div>

{{- end -}}
