{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{- $langPath := "/en/" -}}
  {{- if not (in .RelPermalink "/en/") -}}
    {{- $langPath = "/" -}}
  {{- end -}}

  {{- $langPages := slice -}}
  {{- range .Pages -}}
    {{- if or (and (eq $langPath "/en/") (in .RelPermalink "/en/")) (and (ne $langPath "/en/") (not (in .RelPermalink "/en/"))) -}}
      {{- $langPages = $langPages | append . -}}
    {{- end -}}
  {{- end -}}

  {{ $paginator := .Paginate $langPages }}
  {{ range $index, $post := $paginator.Pages }}
    {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
  {{end}}

  {{ partial "pagination" . }}
</div>

{{- end -}}
