{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{- $langPath := "/en/" -}}
  {{- if not (in .RelPermalink "/en/") -}}
    {{- $langPath = "/" -}}
  {{- end -}}

  {{- $termPages := slice -}}
  {{- range $name, $taxonomy := .Site.Taxonomies.tags -}}
    {{- $hasLangPage := false -}}
    {{- range $p := $taxonomy.Pages -}}
      {{- if and (eq $langPath "/en/") (in $p.RelPermalink "/en/") -}}
        {{- $hasLangPage = true -}}
      {{- end -}}
      {{- if and (ne $langPath "/en/") (not (in $p.RelPermalink "/en/")) -}}
        {{- $hasLangPage = true -}}
      {{- end -}}
    {{- end -}}
    {{- if $hasLangPage -}}
      {{- with $name -}}
        {{- $termPages = $termPages | append (index $.Site.Taxonomies.tags (string .)).Page -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{ if gt (len $termPages) 0 }}
    <div class="tag-cloud">
      {{ range $termPages }}
        <a href="{{ .RelPermalink }}" class="tag-cloud-link">{{ .Title }}</a>
      {{ end }}
    </div>
  {{ end }}
</div>

{{- end -}}
