{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{-  := "/en/" -}}
  {{- if not (in .RelPermalink "/en/") -}}
    {{-  = "/" -}}
  {{- end -}}

  {{-  := slice -}}
  {{- range .Pages -}}
    {{-  := slice -}}
    {{- range .Pages -}}
      {{- if or (and (eq  "/en/") (in .RelPermalink "/en/")) (and (ne  "/en/") (not (in .RelPermalink "/en/"))) -}}
        {{-  =  | append . -}}
      {{- end -}}
    {{- end -}}
    {{- if gt (len ) 0 -}}
      {{-  =  | append . -}}
    {{- end -}}
  {{- end -}}

  {{ if gt (len ) 0 }}
    <div class="tag-cloud">
      {{ range  }}
        <a href="{{ .RelPermalink }}" class="tag-cloud-link">{{ .Title }}</a>
      {{ end }}
    </div>
  {{ end }}
</div>

{{- end -}}
