{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $isEnglish := in .RelPermalink "/en/" }}
  
  {{ $allTags := slice }}
  {{ range site.AllPages }}
    {{ if and (eq .Kind "page") (in .RelPermalink "/post/") }}
      {{ $thisIsEnglish := in .RelPermalink "/en/" }}
      {{ if eq $isEnglish $thisIsEnglish }}
        {{ range .Params.tags }}
          {{ $allTags = $allTags | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{ $uniqueTags := $allTags | uniq | sort }}

  <div class="tag-cloud">
    {{ range $uniqueTags }}
      {{ $slug := urlize . }}
      <a href="{{ printf "./%s/" $slug }}" class="tag-cloud-link">{{ . }}</a>
    {{ end }}
  </div>

</div>

{{- end -}}
